body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 94px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 94px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin:0;
  padding: 0;
  border: 0;
}

.game-info {
  margin-left: 20px;
}

.knight {
  display: flex;
  background-image: url(knight.png);
  background-size: 90px;
  padding: 45px;
  display: flex;
  text-decoration: none;
  border: none;
}
.zombie {
  background-image: url(zombie2.png);
  background-size: 90px;
  padding: 45px;
  display: flex;
  text-decoration: none;
  border: none;
}